body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #800000; /* Color vino */
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group button{
    padding: 9px;;
    margin-top: 10px;
}
.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #6c04eb;
    border-radius: 5px;
}

button {
    background-color: #800000; /* Color vindo */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a0000; /* Color vino oscuro */
}
.password-input {
    position: calc(100% - 10px);
}

.password-input input {
    width: calc(100% - 70px);
    padding: 10px;
    border: 1px solid #0fd005;
    border-radius: 5px 0 0 5px;
}

.password-input button {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 70px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.password-input button:hover {
    background-color: #ddd;
}
.showPassword{
    width: 30px;
}